<header class="navbar">
    <div class="left">
        <div class="burger hoverable" (click)="toggleMenu()">
            <lucide-icon class="burger" name="menu"></lucide-icon>
        </div>
    </div>

    <div class="right">
        <span class="brand">Calixteair</span>

        <button class="cursor-toggle hoverable" (click)="toggleCursorEffect()">
            <i class="fas" [ngClass]="cursorEnabled ? 'fa-crosshairs' : 'fa-slash'"></i>
        </button>

        <button class="theme-toggle hoverable" (click)="toggleTheme()">
            <i class="fas" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
        </button>

    </div>

    <div class="menu-overlay" [class.active]="menuOpen">
        <button class="close" (click)="toggleMenu()">
            <i class="fas fa-times hoverable"></i>
        </button>
        <nav>
            <a class="hoverable" [routerLink]="['/']" (click)="closeMenu()">Accueil</a>
            <a class="hoverable" [routerLink]="['/' + ROUTES.ABOUT]" (click)="closeMenu()">À propos</a>
            <a class="hoverable" [routerLink]="['/' + ROUTES.PROJECTS]" (click)="closeMenu()">Projets</a>
        </nav>
    </div>
</header>
