.navbar {
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fae7ca;
    padding: 20px;
    box-sizing: border-box;
    height: 25vh;
  }
  
  .title {
    font-size: 130px;
    color: #fae7ca;
    font-weight: bold;
      /* no wrap */
    white-space: nowrap;
  }
  
  .separator {
    color: #fae7ca;
    width: 100%;
    border: 1px solid #fae7ca;
    margin: 10px 0;
    margin-bottom: 15px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
  
  }
  
  .nav-links div {
    color: #fae7ca;
    text-decoration: none;
    margin-right: 20px;
  }
  